<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lustria&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <div class="cp-wrapper">
      <div class="cp-postcard-wrapper">
        <div class="postcard">
          <img src="/assets/postcard_img_<%= savedPostcard ? savedPostcard.city.toLowerCase() : 'berlin' %>_cutout.png" alt="Postcard" class="postcard-cutout">
          <span class="postcard-title" id="postcard-title"><%= savedPostcard ? savedPostcard.title : 'Berlin' %></span>
          <span class="postcard-message" id="postcard-message">
            <%= savedPostcard ? savedPostcard.message : 'Sending you the warmest greetings from the coolest city in the world - where the coffee is strong, the history is deep, and every corner has a story to tell. Wishing you were here!' %>
          </span>
          <img src="/assets/postcard_img_<%= savedPostcard ? savedPostcard.city.toLowerCase() : 'berlin' %>_bg.jpg" alt="Postcard" class="postcard-bg">
        </div>

      </div>
      <div class="cp-input-wrapper-group">
        <h1 style="text-align: left; font-size: 32px;">Create your own postcard</h1>
        <form method="POST" action="/create_postcard">
          <div class="cp-input-wrapper">
            <p class="input-label">Choose a city</p>
            <div class="city-selector">
              <input type="radio" name="city" value="Berlin" id="berlin" name="city" <%= savedPostcard ? savedPostcard.city === 'Berlin' ? 'checked' : '' : '' %>>
              <label for="berlin">Berlin</label>
              <input type="radio" name="city" value="Paris" id="paris" name="city" <%= savedPostcard ? savedPostcard.city === 'Paris' ? 'checked' : '' : '' %>>
              <label for="paris">Paris</label>
              <input type="radio" name="city" value="Amsterdam" id="amsterdam" name="city" <%= savedPostcard ? savedPostcard.city === 'Amsterdam' ? 'checked' : '' : '' %>>
              <label for="amsterdam">Amsterdam</label>
            </div>
          </div>
          <div class="cp-input-wrapper">
            <p class="input-label">Titel</p>
            <input id="input-title" maxlength="12" name="title" type="text" placeholder="City" value="<%= savedPostcard ? savedPostcard.title : '' %>">
          </div>
          <div class="cp-input-wrapper">
            <p class="input-label">Message</p>
            <textarea id="input-message" name="message"
              placeholder="Sending you the warmest greetings from the coolest city in the world - where the coffee is strong, the history is deep, and every corner has a story to tell. Wishing you were here!">Sending you the warmest greetings from the coolest city in the world - where the coffee is strong, the history is deep, and every corner has a story to tell. Wishing you were here!</textarea>
          </div>

          <div class="cp-input-wrapper">
            <p class="input-label">Username</p>
            <div class="username-input-wrapper">
              <span class="username-prefix">@</span>
              <input id="input-username" name="username" type="text" placeholder="yourname" 
              value="<%= savedPostcard ? savedPostcard.username : '' %>">
            </div>
            <p style="font-size: 14px; opacity: 0.6; margin-top: 4px;">If you want to be anonymous, leave this field empty</p>
          </div>

          <button type="submit" class="button primary" style="width: 100%; padding: 14px; margin-top: 16px;">Create Postcard</button>
          <% if (savedId) { %>
            <div class="success-note-wrapper">
              <p class="success-note-text">Postcard saved! Copy the ID to share your postcard:</p>
              <strong class="success-note-id"><%= savedId %></strong>
            </div>
          <% } %>
        </form>
      </div>
    </div>
    </div>
  </main>
  <footer>
    <nav>
      <a href="/">Home</a>
      <a href="/create_postcard">Create a postcard</a>
      <a href="/view_postcard">Open a postcard</a>
  </nav>
    <p>© Devin Koch</p>
  </footer>
  <script src="/preview.js"></script>
</body>

</html>